
body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.4;
    color: #fff;
    background-color: #4f545c;

  }

#container{
    display: flex;
    width: 100%;
}
#div_score{
    align-self: start;
    margin-top: 10px;
    margin-left: 185px;
}
#violin_div{ /* HEATMAP*/
    order:0; /*0 is for debugging, 7 is the right*/
    /* width:40%; */
    flex-direction: column;
    display: flex;
    padding-right: 80px; /*per bilanciare i 100 del margin left; */
    height: fit-content
    /* border-style: ridge; */
}
#uid_list_hp{
    display:flex
}
/* DIRECToRY*/
#treemap_div { 
    /* width: 35%; */
    /* flex-grow: 1; */
    display: flex;
    /* border-style: ridge; */
}
#mime_filter_start{
    display: none;
}

.tooltip{
    background-color: #4f545c;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
}
.filter_menu{
    /* flex-grow: 1; */
    line-height: 3.3;
    margin-left: 20px;
    order:2
    /* width: 10%; */
}
#filter_menu_subtype{
    font-size: 12px;
    display:none;
    order:3
}
/* -----------sunburst */

/* packed tree */
.node circle {
    fill: #fff;
  stroke: black;
  stroke-width: 3px;
}

.node text {
    font: 16px sans-serif;
    
}

.link_pckd {
    fill: none;
    stroke: #979393;
    stroke-width: 2px;
}
/* -----------packed tree */

/*directory*/
.node rect {
    cursor: pointer;
    fill: #fff;
    stroke: black;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
    pointer-events: none;
}

.link_dir {
    fill: none;
    stroke: #f8f4f4;
    stroke-width: 1.5px;
}
/*------------directory*/
/*small multiples*/
#exploit_container{
    display: flex;
}
.UIDs_list_{
    background-color: beige;
    overflow-y: auto;
    max-height: 20%;
    
}
#search_bar_exploit{
    font-size: 13px;
    max-height:17px;
    resize:none
}
#back_btn{
    width: fit-content;
    margin-left: 40%;
}
#leftside{
    max-width:40%
}
/*----------------small multiples*/