
body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.4;
    color: #fff;
    background-color: #4f545c;

  }

#container{
    display: flex;
    width: 100%;
}


#div_score{
    align-self: start;
    margin-top: 10px;
    margin-left: 185px;
}
#violin_div{ /* HEATMAP*/
    order:0; /*0 is for debugging, 7 is the right*/
    /* width:40%; */
    flex-direction: column;
    display: flex;
    padding-right: 75px; /*per bilanciare i 100 del margin left; */
    height: fit-content;
    margin: 5px;
    /* border-style: ridge; */
}
#cve_container{
    position: absolute;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: solid;
    border-color: black;
}
#cve_details{
    position: absolute;
    overflow: auto;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    margin-left: 20px;
    font-size: 14px;
    border-style: solid;
    margin: 2px;
}
#cve_btn_link_nist{
    background: #00ffff00;
    color: white;
    cursor: pointer;
}
#uid_list_hp{
    display:flex
}
#text_cve_{
    cursor: pointer;
}
/* DIRECToRY*/
#treemap_div { 
    /* width: 35%; */
    /* flex-grow: 1; */
    display: flex;
    /* border-style: ridge; */
}
#mime_filter_start{
    display: none;
}

.tooltip{
    background-color: #4f545c;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
}
.filter_menu{
    /* flex-grow: 1; */
    line-height: 3.3;
    margin-left: 20px;
    order:2;
    min-width: 21%;
    /* width: 10%; */
}
#filter_menu_subtype{
    font-size: 12px;
    display:none;
    order:3;
    min-width: 21%;
}
/* -----------directory */

/* packed tree */
.node circle {
    fill: #fff;
  stroke: black;
  stroke-width: 3px;
}

.node text {
    font: 16px sans-serif;
    
}

.link_pckd {
    fill: none;
    stroke: #979393;
    stroke-width: 2px;
}
/* -----------packed tree */

/*directory*/
.node rect {
    cursor: pointer;
    fill: #fff;
    stroke: black;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
    pointer-events: none;
}

.link_dir {
    fill: none;
    stroke: #f8f4f4;
    stroke-width: 1.5px;
}
/*------------directory*/
/*small multiples*/
#exploit_container{
    display: flex;
    margin: 5px;
}
.UIDs_list_{
    background-color: beige;
    overflow-y: auto;
    max-height: 20%;
    border-style: solid;
    border-color: black;
    
}
#search_bar_exploit{
    font-size: 13px;
    max-height:17px;
    resize:none
}
#back_btn{
    width: fit-content;
    margin-left: 40%;
}
#leftside{
    max-width:40%
}
.rect_histo{
    cursor: pointer;
}
/*----------------small multiples*/

/* rank*/
#rank_div{
    border-style: ridge;
    max-width:20%;
    /* display: inline-table; */
    display: none;
}
#rightside{
    margin-left: 10px;
}

#bar_fo_search{
    max-height: 17px;
    resize: none;
    overflow: auto;
    width: 98.9%;
}
#biggest_fo{
    margin-left: 25%;
    margin-right: 25%;
    max-width: 50%;
}

#hot_fo{
    margin:5px;
    border-style: ridge;
    display: flex;
    width: fit-content;
}
#critical_fo{
    margin:5px;
    border-style: ridge;
    height: 160px;
    max-width: 250px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background: #eada4e99;
    width: fit-content;

}
#suspects_fo{
    margin:5px;
    border-style: ridge;
    height: 160px;
    max-width: 250px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background: #88000078;
    width: fit-content;

}
#fo_details{
    margin: 5px;
    border-style: ridge;
    overflow-x: auto;
    word-break: break-all;
}
#unpck_dtls{
    margin: 5px;
    border-style: ridge;
    font-size:14px;
    content: '\02795';
}
#ft_dtls{
    margin: 5px;
    border-style: ridge;
    font-size:14px;
    content: '\02795';
}
#detailsI{
    word-break: break-all;
}
/*-------------------rank*/